<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户提现记录</title>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/styleSheetT.css">
</head>
<body>


<table>
    <tr>
        <th>提现账号</th>
        <th>账号姓名</th>
        <th>银行卡姓名</th>
        <th>银行卡号</th>
        <th>开户地址</th>
        <th>提现金额</th>
        <th>提现种类</th>
        <th>提现时间</th>
        <th>操作</th>
    </tr>
    <foreach name="userArr" item="value" key="key">
    <tr>
        <td>{$value.account}</td>
        <td>{$value.username}</td>
        <td>{$value.bank_name}</td>
        <td>{$value.bank_card}</td>
        <td>{$value.bank_address}</td>
        <td>{$value.money}</td>
        <td>{$value.reason}</td>
        <td>{$value.time|date="Y-m-d H:i:s",###}</td>
        <td>
			<if condition="$value.status eq 0">
                <a href="{:U(MODULE_NAME.'/WealthDetailed/updateCash',array('id'=>$value['id']))}"> 申请中</a>
                <else/>
                    已打款
            </if>
		</td>
    </tr>
    </foreach>
	

</table>

<!--底部页面切换选项卡-->
<div class="bottomPageSelect">
    {$pageshow}
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/commentT.js"></script>
</html>