<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__PUBLIC__/css/stylesheet.css">
	<script src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
	<script src="__PUBLIC__/js/comment.js"></script>
    <style></style>
</head>
<body  class="bodyHeight">
<!--topTitle -->
<div class="pageTitleDiv">
	<div class="backButton">
		返回
	</div>
	<span class="pageTitleText">
		注册会员
	</span>
</div>
<form action="{:U(MODULE_NAME.'/Index/register')}" method="post" id="myform">
	<!---->
	<div class="messageDidsplayDiv">
		<div class="leftMessage">会员帐号:</div>
		<input type="text"  placeholder="请输入帐号" name="account"  class="rightMessage" />
		
	</div>
	<!---->
	<div class="messageDidsplayDiv">
		<div class="leftMessage">会员姓名:</div>
		<input type="text"  placeholder="请输入姓名" name="username"  class="rightMessage" />
		
	</div>
	<!---->
	<div class="messageDidsplayDiv">
		<div class="leftMessage">身份证号:</div>
		<input type="text"  placeholder="请输入身份证号" name="identity_card"  class="rightMessage" />
		
	</div>
	<!---->
	<div class="messageDidsplayDiv">
		<div class="leftMessage">手机号码:</div>
		<input type="text"  placeholder="请输入手机号" name="phone"  class="rightMessage" />
		
	</div>
	<!---->
	<div class="messageDidsplayDiv">
		<div class="leftMessage">推荐会员:</div>
		<input type="text"  placeholder="请输入推荐人帐号" name="parent_account"  class="rightMessage" />
		
	</div>
	<!---->
	<!--<div class="messageDidsplayDiv">
		<div class="leftMessage">报单中心:</div>
		<input type="text"  placeholder="请输报单中心号"  class="rightMessage" />
		
	</div>-->
	<!---->
	<div class="messageDidsplayDiv">
		<div class="leftMessage">登陆密码:</div>
		<input type="text"  placeholder="请输登陆密码" name="password"  class="rightMessage" />
		
	</div>
	<!---->
	<div class="messageDidsplayDiv">
		<div class="leftMessage">确认登陆密码:</div>
		<input type="text"  placeholder="请输登陆密码" name="passwordT"  class="rightMessage" />
		
	</div>
	<!---->
	<div class="messageDidsplayDiv">
		<div class="leftMessage">安全密码:</div>
		<input type="text"  placeholder="请输入安全密码" name="paypassword"  class="rightMessage" />
		
	</div>
	<!---->
	<div class="messageDidsplayDiv">
		<div class="leftMessage">确认安全密码:</div>
		<input type="text"  placeholder="请输入安全密码" name="paypasswordT"  class="rightMessage" />
		
	</div>
	
	
	<!--
	<div class="messageDidsplayDiv">
		<div class="leftMessage">转换类型:</div>
		<input type="text" value="-----请选择-----"  readonly="readonly"  class="rightMessage forInputSelect" />
		
	</div>
	-->
	
	
	<!--确认按钮-->
	<div class="etermineButton" onClick="test()">
		确认注册
	</div>
</form>

<!--input选择列表
<div class="inputSelectOuterDiv">
	<div class="inputSelectDiv">
		<div class="inputSelecList" >
			<span class="inputSelectValue">现金币转报单币</span>
			<div style="border-left: solid 50px #fff; border-bottom: solid 23px transparent; border-top: solid 23px transparent;display: inline-block; float: right;"></div>
		</div>
		<div class="inputSelecList" >
			<span class="inputSelectValue">购车基金转现金币</span>
			<div style="border-left: solid 50px #fff; border-bottom: solid 23px transparent; border-top: solid 23px transparent;display: inline-block; float: right;"></div>
		</div>
	</div>
</div>
-->
</body>

<script>
   function test()
	{
		document.getElementById("myform").submit();    
	}

</script>
</html>