<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员列表</title>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/styleSheetT.css">
</head>
<body>

<table>
    <tr>
        <th>管理员编号</th>
        <th>管理员账号</th>
        <th>登陆时间</th>
        <th>注册时间</th>
        <th>登陆IP</th>
    </tr>
    <foreach name="userArr" item="value" key="key">
        <tr>
            <td>{$value.sp_id}</td>
            <td>{$value.sp_username}</td>
            <td>{$value.sp_logintime|date="Y-m-d h:i:s",###}</td>
            <td>{$value.sp_addtime|date="Y-m-d h:i:s",###}</td>
            <td>{$value.sp_loginip}</td>
        </tr>
    </foreach>
	

</table>

<!--底部页面切换选项卡-->
<div class="bottomPageSelect">
    {$pageshow}
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/commentT.js"></script>
</html>