<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link rel="stylesheet" href="__PUBLIC__/css/stylesheet.css">
	<script src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
	<script src="__PUBLIC__/js/comment.js"></script>
    <style></style>
</head>
<body  class="bodyHeight">
<!--topTitle -->
<div class="pageTitleDiv">
	<div class="backButton">
		返回
	</div>
	<span class="pageTitleText">
		交易
	</span>
</div>
<form action="{:U(MODULE_NAME.'/Financemanagement/addwithdrawals')}" method="post" id="myform">
	<!---->
	<div class="messageDidsplayDiv">
		<div class="leftMessage">对方账号:</div>
		<input type="text" value="{$bankInfo.realname}"  readonly="readonly" name="realname"  class="rightMessage" />

	</div>
	<!---->
	<div class="messageDidsplayDiv">
		<div class="leftMessage">交易金额:</div>
		<input type="text" value="{$bankInfo.bank_name}"  readonly="readonly" name="bank_name"  class="rightMessage" />

	</div>
	<!---->
	<div class="messageDidsplayDiv">
		<div class="leftMessage">交易密码:</div>
		<input type="text" value="{$bankInfo.bank_address}" readonly="readonly" name="bank_address"   class="rightMessage" />

	</div>


	<!--确认按钮-->
	<div class="etermineButton" onClick="test()">
		确认
	</div>
</form>
</body>

<script>
    function test()
    {
        document.getElementById("myform").submit();
    }

</script>
</html>