<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link rel="stylesheet" href="__PUBLIC__/css/stylesheet.css">
	<script src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
	<script src="__PUBLIC__/js/comment.js"></script>
    <style></style>
</head>
<body  class="bodyHeight">
<!--topTitle -->
<div class="pageTitleDiv">
	<div class="backButton">
		返回
	</div>
	<span class="pageTitleText">
		资金提现
	</span>
</div>

<!---->
<div class="messageDidsplayDiv">
	<div class="leftMessage">真实户名:</div>
	<input type="text" value="100000"  readonly="readonly"  class="rightMessage" />
	
</div>
<!---->
<div class="messageDidsplayDiv">
	<div class="leftMessage">收款方式:</div>
	<input type="text" value="建设银行"  readonly="readonly"  class="rightMessage" />
	
</div>
<!---->
<div class="messageDidsplayDiv">
	<div class="leftMessage">开户地址:</div>
	<input type="text" value="大中国帝国拉斯维加沟" readonly="readonly"   class="rightMessage" />
	
</div>
<!---->
<div class="messageDidsplayDiv">
	<div class="leftMessage">银行卡号:</div>
	<input type="text" value="133322212312"  readonly="readonly"  class="rightMessage" />
	
</div>
<!---->
<div class="messageDidsplayDiv">
	<div class="leftMessage">提现金额:</div>
	<input type="text" placeholder="请输入提现金额"  class="rightMessage" />
	
</div>

<!--确认按钮-->
<div class="etermineButton">
	确认
</div>
</body>

<script>
   

</script>
</html>