<!DOCTYPE html>
<html>
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"
        />
        <title>
            我的{:C('GUOYUAN')}
        </title>
        <link href="__PUBLIC__/Mobile_game/css/MobileStyle.css" rel="stylesheet"
        />
        <link rel="stylesheet" href="__PUBLIC__/Guoyuan_m/css/cssd.css">
        <link type="text/css" rel="stylesheet" href="__PUBLIC__/Mobile_game/css/main.css?id=2">
        <link type="text/css" rel="stylesheet" href="__PUBLIC__/Mobile/iconfont/iconfont.css?id=2">

        <style>
        </style>
        <!--==========内容开始=============-->
        <script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.9.1.min.js"></script>
        <script src="__PUBLIC__/layer/layer.js" type="text/javascript"></script>
        <script src="__PUBLIC__/Guoyuan_m/js/jquery.min.js"></script>
        <script src="__PUBLIC__/Guoyuan_m/js/jquery_1.8.3.js" type="text/javascript"></script>
        
    
	<script>
	$(function() {
	 $('#body').addClass('default');
	 $('#testButtion').click(function(){
		alert(1110);
		var testSplit=$('#testId').val().split("\\");
		var testTitle=testSplit[testSplit.length-1].split(".")
		$('#testInputValue').val(testTitle[0]);
		$('#testImgValue').val(testTitle[0]+'.'+testTitle[1]);
		
	 });
	
 
})
</script>
</head>
<body style="margin-left:30%;margin-top:100px">
<form action="{:U('User/addgoodd')}" method="post" enctype="multipart/form-data" name="form1">

    商品名称:&nbsp&nbsp<input type="text" name="goodname" size="50" /><br/><br/>
	商品价格:&nbsp&nbsp<input type="text" name="price" size="50"/><br/><br/>

   商品图片:&nbsp&nbsp<input type="file" name="img"  id="testId"/><br/><br/>
   <input name="what" type="text" value="" id="testInputValue" hidden="hidden"/>
	<input name="allname" type="text" value="" id="testImgValue" hidden="hidden"/>
  

    <input type="submit" value="确定添加"  id="testButtion" style="margin-left:30%;background-color:#3399CC;border-radius:5px;padding:10px;"/>
</form>
<script>
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="new_content"]', {
            allowFileManager : true
        });
    });

</script>
</body>
</html>