<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/ht_index.css" type="text/css">
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/User/js/tab.js"></script>
    <style>
        .form-group { padding-left: 20px; margin-top: 20px }
        font { color: red }
    </style>
</head>
<body style="background:#fff;height: 1000px;">

<form id="update_form" method="post" action="{:U('User/controle')}">
    <div class="jbpz_bottom">
        <h3>后台控制团队交易限制</h3>
		<span style="font-size:18px; color:#FF0000">交易限制密码不可设置为0（仅限三位以上任意数字）</span>
        <div class="form-group">状态：{$ST}</div>
        <input type="text" class="text2" name="id" value="{$id}" hidden="hidden" />
        <if condition=" $status neq 1">
            <div class="form-group">交易限制密码

                <input type="text" class="text2" name="jiaoyi_pw" />
            </div>
        </if>
        <!--<div class="form-group">姓名：{$user_row.username}</div>-->
        <!--<div class="form-group">原手机号码：{$user_row.mobile}</div>-->
        <!--<div class="form-group">-->
            <!--<font>*</font>新手机号码：-->
        <!--</div>-->
        <!--<input type="hidden" name="userid" value="{$user_row.userid}">-->
        <!--<input type="hidden" name="account" value="{$user_row.account}">-->
        <div class="anniu">
            <if condition=" $status eq 1">
                <input type="button"  id="submit_btn" value="确认关闭">
             <else/>
                 <input type="button"  id="submit_btn" value="确认开启">
            </if>
        </div>
    </div>
</form>
<script>
    $(function(){
        $('#submit_btn').on('click', function(){
            if (confirm("确认开启交易控制吗？")) {
                $('#update_form').submit();
            }
        });
    });
</script>
</body>
</html>