<html lang="en">
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body style="background:#fff;height: 1000px;">
		<form action="" id="add_form" method="post">

		    <div class="jbpz_bottom">
				<h2 style="color: red;">推荐列表</h2>
					会员帐号:<input type="text" name="account" id="account">
					<div class="anniu">
					   <input type="button"  id="submit_btn" value="提交">
					   <input type="reset"  value="清空">
					</div>
			</div>
		</form>
		<div>
			总人数：{$sum}
			{$tree}
		</div>

<style type="text/css">
			textarea{
				margin-top: 10px;
				margin-left: 30px;
				width: 358px;
    			height: 90px;
			}

li {list-style-type:none;margin: 5px;}
ul{    padding-left: 65px;}
</style>

<script type="text/javascript">
	$('#submit_btn').click(function(){

		if(!confirm('确认提交?')){
			return false;
		}
		$('#add_form').submit();

	})


    $('#mobile').blur(function(){

        var mobile = $(this).val();
     	var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/; 

          if(!myreg.test(mobile)) 
            { 
                alert('请输入有效的手机号码！');
                return false;
            }
    });


</script>

</body>
</html>
