<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link rel="stylesheet" href="__PUBLIC__/css/stylesheet.css">
	<script src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
	<script src="__PUBLIC__/js/comment.js"></script>
    <style>
	
	</style>
</head>
<body  class="bodyHeight">
<!--topTitle -->
<div class="pageTitleDiv">
	<div class="backButton">
		返回
	</div>
	<span class="pageTitleText">
		密码修改
	</span>
</div>
<!--设置密码种类-->
<div class="changeSelect">
	<div class="changeTypeSelect changeTypeSelect_selected">登陆密码</div>
	<div class="changeTypeSelect">安全密码</div>
</div>

<!--登陆密码-->
<div class="selectedDiv selected_1">
	<!---->
	<div class="messageDidsplayDiv">
		<div class="leftMessage">原登陆密码:</div>
		<input type="text" placeholder="原登陆密码"    class="rightMessage" />
	
	</div>
	<!---->
	<div class="messageDidsplayDiv">
		<div class="leftMessage">新登陆密码:</div>
		<input type="text"  placeholder="新登陆密码"   class="rightMessage" />
	
	
	</div>
	<!---->
	<div class="messageDidsplayDiv">
		<div class="leftMessage">确认新密码:</div>
		<input type="text" placeholder="确认新密码"  class="rightMessage" />
	
	</div>

	<!--确认按钮-->
	<div class="etermineButton">
		确认
	</div>
</div>

<!--登陆密码 END-->

<!--安全密码-->
<div class="selectedDiv selected_2" style="display:none;">
	<!---->
	<div class="messageDidsplayDiv">
		<div class="leftMessage">原安全密码:</div>
		<input type="text" placeholder="原登陆密码"    class="rightMessage" />
	
	</div>
	<!---->
	<div class="messageDidsplayDiv">
		<div class="leftMessage">新安全密码:</div>
		<input type="text"  placeholder="新登陆密码"   class="rightMessage" />
	
	
	</div>
	<!---->
	<div class="messageDidsplayDiv">
		<div class="leftMessage">确认新密码:</div>
		<input type="text" placeholder="确认新密码"  class="rightMessage" />
	
	</div>

	<!--确认按钮-->
	<div class="etermineButton">
		确认
	</div>
</div>

<!--安全密码 END-->

</body>


</html>