<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link rel="stylesheet" href="__PUBLIC__/css/stylesheet.css">
	<link rel="stylesheet" href="__PUBLIC__/css/stylesheet_PC.css" media="screen and (min-width:1000px)">
	<script src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
	<script src="__PUBLIC__/js/comment.js"></script>
    <style></style>
</head>
<body  class="bodyHeight">
<!--topTitle -->
<div class="pageTitleDiv">
	<div class="backButton">
		返回
	</div>
	<span class="pageTitleText">
		银行信息
	</span>
</div>

<!---->
<div class="messageDidsplayDiv">
	<div class="leftMessage">真是姓名:</div>
	<input type="text" value="131xxxx1111"    class="rightMessage" />
	
</div>
<!---->
<div class="messageDidsplayDiv">
	<div class="leftMessage">收款银行:</div>
	<input type="text" value="" placeholder="例：中国银行"   class="rightMessage" />
	
	
</div>
<!---->
<div class="messageDidsplayDiv">
	<div class="leftMessage">银行卡号:</div>
	<input type="text" value="131xxxx1111"    class="rightMessage" />
	
</div>
<!---->
<div class="messageDidsplayDiv">
	<div class="leftMessage">开户地址:</div>
	<input type="text" value="200000000000000000"    class="rightMessage" />
	
</div>
<!--确认按钮-->
<div class="etermineButton">
	确认
</div>
</body>

<script>
   

</script>
</html>