<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台信息显示页面</title>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/styleSheetT.css">
</head>
<body>
<!--顶部搜索DIV-->
<div class="topSearchDiv">
    <form id="form_search" action="{:U('Index/administrationPage')}" method="post">
        <label class="searchTitelDate" for="searchTitelOrStartDate">
            开始日期
        </label>
        <input type="date" class="searchDataStyle" name="start_time" id="searchTitelOrStartDate">
        <label class="searchTitelDate" for="searchTitelOrEndDate"> 结束日期</label>
        <input type="date" class="searchDataStyle" name="end_time" id="searchTitelOrEndDate">
        <label class="searchTitelDate" for="searchConditionSelect"> 搜索条件选择</label>
        <select name="condition" class="searchConditionSelect" id="searchConditionSelect">
            <option value="" selected="selected">请选择搜索条件</option>
            <option value="userid">会员编号</option>
            <option value="account">会员账号</option>
            <option value="username">会员姓名</option>
            <option value="identity_card">身份证</option>
            <option value="phone">手机号</option>
        </select>
        <input type="text" name="text" class="searchDataStyle searchInputStyle" placeholder="请输入搜索条件">
        <div class="conditionEndSearchStart"  onClick="test()">开始搜索</div>
    </form>
</div>

<table>

    <tr>
        <th>会员编号</th>
        <th>会员姓名</th>
        <th>会员账号</th>
        <th>身份证号码</th>
        <th>手机号</th>
        <th>注册时间</th>
        <th>锁定状态</th>
        <th>操作</th>
    </tr>
    <foreach name="userArr" item="value" key="key">
    <tr>
        <td>{$value.userid}</td>
        <td>{$value.username}</td>
        <td>{$value.account}</td>
        <td>{$value.identity_card}</td>
        <td>{$value.phone}</td>
        <td>{$value.time|date="Y-m-d H:i:s",###}</td>
        <td>
            <if condition="$value.lockuser eq 0">
                    <a href="{:U(MODULE_NAME.'/Index/updatelockuser',array('userid'=>$value['userid']))}" style="color:white">未锁定</a>
                <else/>
                    <a href="{:U(MODULE_NAME.'/Index/updatelockuser',array('userid'=>$value['userid']))}" style="color:white">已锁定</a>
            </if>
        </td>
        <td>
            <a href="" style="color:white">进入用户</a></br>
            <a href="{:U(MODULE_NAME.'/Index/deleteuser',array('userid'=>$value['userid']))}" style="color:white">删除用户</a></br>
            <a href="{:U(MODULE_NAME.'/UserAdministration/updateUserDataPage',array('userid'=>$value['userid']))}" style="color:white">修改资料</a>
        </td>

    </tr>
    </foreach>
</table>

<!--底部页面切换选项卡-->
<div class="bottomPageSelect">
    {$pageshow}
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/commentT.js"></script>
<script>
    function test()
    {
        document.getElementById("form_search").submit();
    }
</script>
</html>