<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台信息显示页面</title>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/styleSheetT.css">
</head>
<body>


<table>

    <tr>
        <th>会员编号</th>
        <th>会员账号</th>
        <th>手机号</th>
        <th>注册时间</th>
        <th>申请区域</th>
        <th>申请时间</th>
        <th>用户资产</th>
    </tr>
    <tr>
        <td>1311111</td>
        <td>13111111111</td>
        <td>13333333333</td>
        <td>2015-12-31</td>
        <td>牡丹江市华尔顿县嘎拉哈屯</td>
        <td>2015-12-31</td>
        <td>1999999</td>
    </tr>

</table>

<!--底部页面切换选项卡-->
<div class="bottomPageSelect">
    {$pageshow}
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/js/commentT.js"></script>
<script>
    function test()
    {
        document.getElementById("form_search").submit();
    }
</script>
</html>