<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>Title</title>
    <link rel="stylesheet" href="__PUBLIC__/css/stylesheetT.css">
    <link rel="stylesheet" href="__PUBLIC__/css/userRecommendStructure.css">
    <script src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
    <script src="__PUBLIC__/js/commentT.js"></script>
    <style>
        .tableTitle{
            color: #000;
        }
    </style>
</head>
<body class="bodyHeight">
<!--顶部搜索DIV -->
<div class="topSearchDiv" >

    <!--<select name="account" class="searchConditionSelect" id="searchConditionSelect">-->
        <!--<option value="" selected="selected">请选择搜索条件</option>-->
        <!--<option value="1111">1111111</option>-->
        <!--<option value="2222">22222222222</option>-->
        <!--<option value="3333">3333333</option>-->
        <!--<option value="444">444444444</option>-->
        <!--<option value="555">555555555</option>-->
        <!--<option value="666">666666666件</option>-->
    <!--</select>-->
    <form action="{:U(MODULE_NAME.'/UserAdministration/userRecommendStructure')}" method="post" id="myform">
        <label style="display: inline-block;color:#000;margin-right: 30px;">会员账号</label>
        <input type="text" class="searchDataStyle searchInputStyle" placeholder="请输入搜索条件" name="account">
        <div class="conditionEndSearchStart" onclick="test()">开始搜索</div>
    </form>
</div>
<table cellspacing="0" class="table1">
    <tr>
        <td colspan="2" class="tableTitle">{$structureInfo.one_account}</td>
    </tr>
    <tr>
        <td colspan="2">{$structureInfo.one_username}</td>
    </tr>
    <tr>
        <td colspan="2">推荐：{$structureInfo.one_parent_account}（{$structureInfo.one_parent_username}）</td>
    </tr>
    <tr>
        <td colspan="2" class="tableTime">{$structureInfo.one_time|date="Y-m-d H:i:s",###}</td>
    </tr>
</table>
<div>
    <div class="div1"></div>
    <div class="div2"></div>
</div>
<table cellspacing="0" class="table2">
    <tr>
        <td colspan="2" class="tableTitle">{$structureInfo.two_account|default=注册}</td>
    </tr>
    <tr>
        <td colspan="2">{$structureInfo.two_username}</td>
    </tr>
    <tr>
        <td colspan="2">推荐：{$structureInfo.two_parent_account}（{$structureInfo.two_parent_username}）</td>
    </tr>
    <tr>
        <td colspan="2" class="tableTime">{$structureInfo.two_time|date="Y-m-d H:i:s",###}</td>
    </tr>
</table>


<table cellspacing="0" class="table3">
    <tr>
        <td colspan="2" class="tableTitle">{$structureInfo.three_account|default=注册}</td>
    </tr>
    <tr>
        <td colspan="2">{$structureInfo.three_username}</td>
    </tr>
    <tr>
        <td colspan="2">推荐：{$structureInfo.three_parent_account}（{$structureInfo.three_parent_username}）</td>
    </tr>
    <tr>
        <td colspan="2" class="tableTime">{$structureInfo.three_time|date="Y-m-d H:i:s",###}</td>
    </tr>
</table>
<div>
    <div class="div3"></div>
    <div class="div5"></div>
    <br/>
    <div class="div4"></div>
    <div class="div6"></div>
</div>

<table cellspacing="0" class="table4">
    <tr>
        <td colspan="2" class="tableTitle">{$structureInfo.four_account|default=注册}</td>
    </tr>
    <tr>
        <td colspan="2">{$structureInfo.four_username}</td>
    </tr>
    <tr>
        <td colspan="2">推荐：{$structureInfo.four_parent_account}（{$structureInfo.four_parent_username}）</td>
    </tr>
    <tr>
        <td colspan="2" class="tableTime">{$structureInfo.four_time|date="Y-m-d H:i:s",###}</td>
    </tr>
</table>


<table cellspacing="0" class="table5">
    <tr>
        <td colspan="2" class="tableTitle">{$structureInfo.five_account|default=注册}</td>
    </tr>
    <tr>
        <td colspan="2">{$structureInfo.five_username}</td>
    </tr>
    <tr>
        <td colspan="2">推荐：{$structureInfo.five_parent_account}（{$structureInfo.five_parent_username}）</td>
    </tr>
    <tr>
        <td colspan="2" class="tableTime">{$structureInfo.five_time|date="Y-m-d H:i:s",###}</td>
    </tr>
</table>

<table cellspacing="0" class="table6">
    <tr>
        <td colspan="2" class="tableTitle">{$structureInfo.six_account|default=注册}</td>
    </tr>
    <tr>
        <td colspan="2">{$structureInfo.six_username}</td>
    </tr>
    <tr>
        <td colspan="2">推荐：{$structureInfo.six_parent_account}（{$structureInfo.six_parent_username}）</td>
    </tr>
    <tr>
        <td colspan="2" class="tableTime">{$structureInfo.six_time|date="Y-m-d H:i:s",###}</td>
    </tr>
</table>


<table cellspacing="0" class="table7">
    <tr>
        <td colspan="2" class="tableTitle">注册</td>
    </tr>
    <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="2">推荐：（）</td>
    </tr>
    <tr>
        <td colspan="2" class="tableTime"></td>
    </tr>
</table>


</body>

<script>
    function test() {
        document.getElementById("myform").submit();
    }
    window.onload = function(){
        /*检测日期是否未设置 如果开始为1970 则设置内容为空*/
        var tableTime = document.getElementsByClassName("tableTime");
        /*循环判断内容*/
        function  tableTime_check() {
            for(var i=0; i < tableTime.length; i++ ){
                var tableTime_Text = tableTime[i].innerHTML;
                if(tableTime_Text.indexOf("1970") >=  0){
                    tableTime[i].innerHTML = "";
                }
            }
        }
        tableTime_check();

    }

</script>
</html>